body
{
    font: 11px/1.5em  Verdana,Arial, Helvetica, sans-serif;
}

.TableNoBorder {
	background:ghostwhite;
}

.TableBorder1 {
	border:1pt aliceblue;
	background:ghostwhite;
}

.DataGridStyle {
	border:1pt solid aliceblue;
	background:ghostwhite;	
}
.DataGridStyle td{
	/*padding:5pt;*/
}

.main-navigation
{
    background-image: url(../Graphics/main_midnav.jpg);
    background-repeat: repeat-x;
    height: 36px; /*width:900px;*/
    width: 100%;
    margin-top: 2px;
    padding-top: 2px;
}
.main-menu
{
    padding: 0px 2px 0px 2px;
}
.dynamic_menu_style
{
	z-index:100;
    background-image: url(../Graphics/menu_item_2.jpg);
}
.dynamic_hover_style
{
    background-image: url(../Graphics/menu_item_hover_3.jpg);	
}
.dynamic_hover_style a:hover {
    color : black;
    text-decoration : underline;
}


.normalrow{background-color:ghostwhite;}
.hightlighrow{background-color:lightblue;}

.DataGridHeaderStyle {
	background-color:dodgerblue;
	color:white;
	font-weight:bold;
}

.Grayheader {
	background-color:#DDDDDD;
	color:blue;
	font-weight:bold;
}

.DataGridHeaderStyle a:link {
    color : white;
    text-decoration : underline;
}
.DataGridHeaderStyle a:visited {
    color : white;
    text-decoration : underline;
}
.DataGridHeaderStyle a:hover {
    color : blue;
    text-decoration : underline;
}
.DataGridHeaderStyle a:active {
    color : black;
    text-decoration : underline;
}

.ControlDefaults {
}

.MenuDefaults {
}

.TextBoxInteger
{
}	
	
.TextBoxDecimal
{
	text-align:right;
}	

.TextBoxCode
{
}	

.TextBoxDate
{
	width:70px;
}	
.ButtonDropdown
{
	font-weight:bolder;
	color:blue;
}	

.ButtonDate
{
	font-weight:bolder;
	color:blue;
}	


.MainMenu 
{
	/*
	background-color:aliceblue;
	font-size:x-small;
    */	
	background-color:aliceblue;
	font-size:smaller;


}
.MainMenu a:link {
    color : royalblue;
    text-decoration : underline;
}
.MainMenu a:visited {
    color : royalblue;
    text-decoration : underline;
}
.MainMenu a:hover {
    color : hotpink;
    text-decoration : underline;
}
.MainMenu a:active {
    color : red;
    text-decoration : underline;
}


.SubMenu
{
	background-color:aliceblue;
}
.SubMenu a:link {
    color : royalblue;
    text-decoration : underline;
}
.SubMenu a:visited {
    color : royalblue;
    text-decoration : underline;
}
.SubMenu a:hover {
    color : hotpink;
    text-decoration : underline;
}
.SubMenu a:active {
    color : red;
    text-decoration : underline;
}

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup
{
      background-color: White;
      border-width:3px;
      border-style:solid;
      border-color:Gray;
      padding:5px;
}

.leftcontent {
  margin: 0px 0px 0px 0px;  
  width: 180px;
  background-color: Gray;
}
.rightcontent {  
  margin: 0px 0px 0px 0px;  
  width: 180px;
  background-color: Gray;
}
.centercontent {
  width: 80%;
  background-color: #EEEEEE;  
} 
.bannercontent {
  width: 80%;
}     

#maincontent
{
	margin-left:10px; 
	margin-right:10px; 
	margin-bottom:5px; 
	min-height:650px; 
	height:auto !important;
}


.linknoDecor
{
	text-decoration: none;
}

.bold
{
    font-weight: bold;
}

/* NEW*/
.ModalPopupBG
{
	background-color: #666699;
	filter: alpha(opacity=50);
	opacity: 0.7;
}

.popup_Container {
	background-color:white;
	border:1px solid #000000;
	padding: 0px 0px 0px 0px;
}

.popupConfirmation
{
	width: 500px;
	height: 200px;
}

.popup_Titlebar {
	background: url(../Graphics/titlebar_bg_blue.png);
	height: 29px;
}

.popup_Body
{
	padding:15px 15px 15px 15px;
	font-family:Arial;
	/*font-weight:bold;*/
	font-size:12px;
	color:#000000;
	line-height:15pt;
	clear:both;
	padding:20px;
}

.TitlebarLeft 
{
	float:left;
	padding-left:5px;
	padding-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#FFFFFF;
}
.TitlebarRight 
{
	background:url(../Graphics/cross_icon_normal.png);
	background-position:right;
	background-repeat:no-repeat;
	height:15px;
	width:16px;
	float:right;
	cursor:pointer;
	margin-right:5px;
	margin-top:5px;
}

.popup_Buttons
{
	margin:10px;
	text-align:right;
}