body {
margin: 0;
padding:0; 
background: #fff;
}

#headercontent{
 width: 100%;
 height: 70px;
 margin: 0;
 border: solid #333;
 border-width: 0 0 2px 0;
 }

#leftcontent {
width: 80%;
float: left;
color: #000;
padding: 5px;
}

#rightcontent {
float: right;
width: 15%;
padding: 20px;
}