body
{
    font: 11px/1.5em  Verdana,Arial, Helvetica, sans-serif;
}

.TableNoBorder {
	background:ghostwhite;
}

.TableBorder1 {
	border:1pt aliceblue;
	background:ghostwhite;
}

.DataGridStyle {
	border:1pt solid aliceblue;
	background:ghostwhite;

}
.DataGridStyle td{
	/*padding:5pt;*/
}

.main-navigation
{
    background-image: url(../Graphics/main_midnav.jpg);
    background-repeat: repeat-x;
    height: 36px; /*width:900px;*/
    width: 100%;
    margin-top: 2px;
    padding-top: 2px;
}
.main-menu
{
    padding: 0px 2px 0px 2px;
}
.dynamic_menu_style
{
	z-index:100;
    background-image: url(../Graphics/menu_item_2.jpg);
}
.dynamic_hover_style
{
    background-image: url(../Graphics/menu_item_hover_3.jpg);	
}
.dynamic_hover_style a:hover {
    color : black;
    text-decoration : underline;
}


.normalrow{background-color:ghostwhite;}
.hightlighrow{background-color:lightblue;}

.DataGridHeaderStyle {
	background-color:dodgerblue;
	color:white;
	font-weight:bold;
}

.Grayheader {
	background-color:#DDDDDD;
	color:blue;
	font-weight:bold;
}

.DataGridHeaderStyle a:link {
    color : white;
    text-decoration : underline;
}
.DataGridHeaderStyle a:visited {
    color : white;
    text-decoration : underline;
}
.DataGridHeaderStyle a:hover {
    color : blue;
    text-decoration : underline;
}
.DataGridHeaderStyle a:active {
    color : black;
    text-decoration : underline;
}

.ControlDefaults {
}

.MenuDefaults {
}

.TextBoxInteger
{
}	
	
.TextBoxDecimal
{
	text-align:right;
}	

.TextBoxCode
{
}	

.TextBoxDate
{
	width:70px;
}	
.ButtonDropdown
{
	font-weight:bolder;
	color:blue;
}	

.ButtonDate
{
	font-weight:bolder;
	color:blue;
}	


.MainMenu 
{
	/*
	background-color:aliceblue;
	background-color:white;
	font-size:x-small;
    */	
	background-color:aliceblue;
	font-size:smaller;
	font-size:smaller;
}
.MainMenu a:link {
    color : royalblue;
    text-decoration : none;
}
.MainMenu a:visited {
    color : royalblue;
    text-decoration : none;
}
.MainMenu a:hover {
    color : royalblue;
    text-decoration : underline	;
}
.MainMenu a:active {
    color : red;
    text-decoration : underline;
}


.SubMenu
{
	background-color:aliceblue;
}
.SubMenu a:link {
    color : royalblue;
    text-decoration : underline;
}
.SubMenu a:visited {
    color : royalblue;
    text-decoration : underline;
}
.SubMenu a:hover {
    color : hotpink;
    text-decoration : underline;
}
.SubMenu a:active {
    color : red;
    text-decoration : underline;
}

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}



