<%@ Page Language="C#" MasterPageFile="~/Attendance.master" AutoEventWireup="true" CodeFile="AttendanceProcess.aspx.cs" Inherits="AttendanceProcess" Title="MMB Kronos - Attendance Processing" %>
<asp:Content ID="Content1" ContentPlaceHolderID="phmc" Runat="Server">
    <br />
    <asp:Literal ID="litMessage" runat="server"></asp:Literal>
</asp:Content>

