<%@ Page Language="C#" MasterPageFile="~/Attendance.master" AutoEventWireup="true" CodeFile="BlankPage.aspx.cs" Inherits="BlankPage" Title="eKiosk Timekeeping System" %>
<asp:Content ID="Content1" ContentPlaceHolderID="phmc" Runat="Server">
    <br />
    <asp:Literal ID="litMessage" runat="server"></asp:Literal>
</asp:Content>

