﻿<%@ Page Title="" Language="C#" MasterPageFile="~/AttendanceBlank.master" AutoEventWireup="true" CodeFile="EditInOut.aspx.cs" Inherits="EditInOut" %>

<asp:Content ID="Content1" ContentPlaceHolderID="phmc" Runat="Server">
</asp:Content>

