﻿<%@ Page Language="C#" MasterPageFile="~/Attendance.master" AutoEventWireup="true" CodeFile="TimeCredits.aspx.cs" Inherits="TimeCredits" Title="Time Credits" %>
<%@ Register src="EmpHeaderDate.ascx" tagname="EmpHeaderDate" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="phmc" Runat="Server">
    <script type="text/javascript" src="css/common_uno.js"></script>
    <script type="text/javascript">
    function openWD(sUrl)
    {
        popupWorkDist=wopen(sUrl,"popupWorkDist",1000,600);
    }
    </script>
    <uc1:EmpHeaderDate ID="EmpHeader1" runat="server" />
    <hr />
    <asp:GridView ID="gvEmployees" runat="server" AllowPaging="True" 
        AutoGenerateColumns="False" CssClass="DataGridStyle" PageSize="20"
        Width="900px" onrowdatabound="gvEmployees_RowDataBound" 
        onpageindexchanging="gvEmployees_PageIndexChanging" DataKeyNames="tcID">
        <Columns>
            <asp:BoundField DataField="Date" HeaderText="Date" DataFormatString="{0:MM/dd/yyyy}" HtmlEncode="False"  />
            <asp:BoundField DataField="in1" HeaderText="Time-In" DataFormatString="{0:hh:mm tt}" HtmlEncode="False" />
            <asp:BoundField DataField="out1" HeaderText="Time-Out" DataFormatString="{0:hh:mm tt}" HtmlEncode="False" />
            <asp:BoundField DataField="RegHrs" HeaderText="Regular<br>Hours" HtmlEncode="false" />            
            <asp:BoundField DataField="excesshrs" HeaderText="Excess<br>Hours" HtmlEncode="false" />
            <asp:BoundField DataField="TardyHrs" HeaderText="Actual<br>Tardy" HtmlEncode="false" />
            <asp:BoundField DataField="UTHrs" HeaderText="Actual<br>UT" HtmlEncode="false" />
            <asp:BoundField DataField="Late" HeaderText="Adjusted<br>Tardy" HtmlEncode="false" />
            <asp:BoundField DataField="UT" HeaderText="Adjusted<br>UT" HtmlEncode="false" />

            <asp:BoundField DataField="OT" HeaderText="Valid<br>Overtime" HtmlEncode="false" />
            <asp:BoundField DataField="Leave" HeaderText="Applied<br>Leave" HtmlEncode="false" />
            
            <asp:TemplateField HeaderText="Time Credits <br>used in Tardy">
                <ItemTemplate>
                    <asp:Label ID="lblTardy" runat="server" Text=""></asp:Label>
                </ItemTemplate>
            </asp:TemplateField>
            <asp:TemplateField HeaderText="Time Credits <br>used in UT">
                <ItemTemplate>
                    <asp:Label ID="lblUndertime" runat="server" Text=""></asp:Label>
                </ItemTemplate>
            </asp:TemplateField>

            <asp:TemplateField HeaderText="Action">
                <ItemTemplate>
                    <asp:ImageButton ID="ibEdit" runat="server" ImageUrl="~/Graphics/new.gif" OnClick="ibEdit_Click" ToolTip="view details" />
                </ItemTemplate>
            </asp:TemplateField>
            

        </Columns>
        <RowStyle Height="22px" />
        <EmptyDataTemplate>
            <span style="color:Red">No record found</span>
        </EmptyDataTemplate>
        <PagerStyle HorizontalAlign="Right" />
        <HeaderStyle CssClass="DataGridHeaderStyle" HorizontalAlign="Center" />
    </asp:GridView>
    
    <asp:Button ID="btnFU" runat="server" Text="" onclick="btnFU_Click" style="display:none" />


    <br />
    <hr />

    <table>
        <tr align='left'>
            <td><strong>Legend:</strong></td>
            <td style="width:20px; height:22px; background-color:#90ee90"></td><td style="width:120px">- Wholeday Leave</td>
            <td style="width:20px; height:22px; background-color:#f4a460"></td><td style="width:120px">- For Approval</td>
            <td style="width:20px; height:22px; background-color:#ffd700"></td><td style="width:180px">- Erroneous / No Work Details</td>
        </tr>
        <tr>
            <td colspan='7'>
            </td>
        </tr>
        <tr align='left'>
            <td></td>
            <td style="width:20px; height:22px; background-color:#CCFF66"></td><td>- Partial Leave</td>            
            <td style="width:20px; height:22px; background-color:#c0c0c0"></td><td>- Holiday / Restday</td>
            <td style="width:20px; height:22px; background-color:#CC99FF"></td><td>- Incomplete Work Details</td>
        </tr>
    </table>

</asp:Content>

