<%@ Page Language="C#" MasterPageFile="~/Attendance.master" AutoEventWireup="true" CodeFile="ViewPayslip.aspx.cs" Inherits="ViewPayslip" Title="View Payslips" %>
<asp:Content ID="Content1" ContentPlaceHolderID="phmc" Runat="Server">
</asp:Content>

