<%@ Page Language="C#" MasterPageFile="~/AttendanceBlank.master" AutoEventWireup="true" CodeFile="BlankPageIframe.aspx.cs" Inherits="BlankPageIframe" Title="Bisneeds - Timekeeping - Blank Page Frame" %>
<asp:Content ID="Content1" ContentPlaceHolderID="phmc" Runat="Server">
    <asp:Label ID="lblModule" runat="server" Font-Bold="True" Font-Names="Arial" Font-Size="Large"
        Font-Underline="False"></asp:Label><br />
    <br />
    Please click the image
    <img src="Graphics/select.gif" title="Bisneeds - Timekeeping - select employee" />
    to select employee.<br />
    <br />
    <br />
    <asp:Label ID="lblMesseage" runat="server" Font-Bold="True"></asp:Label>
</asp:Content>

