﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EmployeeHeader.ascx.cs" Inherits="EmployeeHeader" %>

<script type="text/javascript">
function openEmpInfo(url)
{
    popupWindow=wopen(url,"popupWindow",820,300);
    return false;
}
</script>

<table width="500px">
  <tr>
  <td valign="top">
    Name:
    <asp:LinkButton ID="lbEmpInfo" runat="server"><asp:Label ID="lblFullname" runat="server" Font-Bold="True"></asp:Label></asp:LinkButton>
  </td>
  </tr>
</table>
