<%@ Page Language="C#" AutoEventWireup="true" CodeFile="zTest2.aspx.cs" Inherits="zTest1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>No title</title>
</head>
<body style="background-image:url('khronoz_medium.jpg'); background-repeat:no-repeat; background-position:top left">
    <form id="form1" runat="server">
    <div>
        <asp:HyperLink ID="HyperLink1" runat="server">HyperLink</asp:HyperLink>
        
        <div style="background-color:#0033CC; color:White">
            &nbsp;Test sample header
            <br />
        </div>
        
        
        
    </div>
    </form>
</body>
</html>
